<! # перпед id    
      . перед class>

#body 
{padding:0;
margin:0;}
.header
{height:100px;
background:url('../img/fon.jpg');
}
.logo
{float:left;}
.logotext {
 float:right;
}
.menutop{
	display:flex;
	
}
.menutop a{
	flex:1;
	padding: 10px 0;
	text-align: center;
text-decoration: none;
background: olive;
color: gold;
border-left: solid 1px black;
}
.menutop a:hover{
	background: gold;
	color: black;
}
.footer {
	padding:50px;
	text-align:center;
	background:gold;
}

.errors{
	color: red;
	background: wait;
	padding: 5px
}
.form-group{
padding: 3px;
}
.modal-window{
	position:absolute;
	top:150px;
	left:50%;
	width:400px;
	margin-left:-200px;
	padding:10px;
	border:solid 1px black;
	box-shadow:1px 1px 1px black;
	background:wait;
	border-radius:6px;
	
	
}

.modal-close-btn{
	position:absolute;
	top:2px;
	right:2px;
	margin:0;
	padding:0;
	text-decoration:none;
	color:red;
	font-size:10px;
	}

#overlay{
	position:fixed;
	background:black;
	opacity:0.7;
	height:100%;
	width:100%;
	top:0;
	left:0;
	
}